*{
  box-sizing: border-box;
  text-decoration: none;
}

.cart {
  min-height: 30vh;
}
.container {
  margin: 0 auto;
  width: 90vw;
}
.cart__title {
  font-size: 24px;
  color: #222;
  line-height: 30px;
  margin: 50px;
  text-align: center;
  font-weight: 700;
  border-bottom: 2px solid #222;
  padding: 20px;
}
.cart__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  min-width: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  background-color: antiquewhite;
}
.product__img {
  border-radius: 15px;
  width: 100%;
}
.product__title {
  font-size: 18px;
  color: #222;
  line-height: 20px;
  margin: 10px;
  text-transform: uppercase;
}
.product__price {
  font-size: 16px;
  color: #222;
  line-height: 18px;
  margin: 10px;
}
.product__btn {
  border-radius: 15px;
  width: 100%;
  height: 50px;
  border: 1px solid #222;
  background-color: inherit;
  font-size: 16px;
  color: #222;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}